JDBC_DATABASE_URL={YOUR_JDBC_DATABASE_URL}
JDBC_DATABASE_USERNAME={YOUR_JDBC_DATABASE_USER}
JDBC_DATABASE_PASSWORD={YOUR_JDBC_DATABASE_PASSWORD}
REDIS_URL={YOUR_REDIS_URL}
REDIS_PORT={YOUR_REDIS_PORT}